body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header / Menu */
.header{
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: -30px;
}

.header ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline-block;
  float left;
}

.header li a {
  display: block;
  background-color: #8533ff;
  font-weight: bold;
  text-decoration: none;
}

.header li a:hover{
  background-color: #6600cc;
}

.header a{
  color: white;
  padding: 10px 16px;
}

/* Blog Title */
.maintitle {
  text-align: center;
  margin: auto;
  padding: 10px;
  background: #8533ff;
  width: 400px;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  float: left;
  width: 25%;
  padding-left: 20px;
}

.rightbook {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  max-width:50%;
  float: right;
  text-align: left;
  padding-left: 15px;
  color: #000000;
}
.leftbook {
  width:50%;
  height:200px;
  float: left;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-size: 100% 100%;
  text-align: center;
  color: #000000;
}

img.b_img {
  max-width:100%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 80%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  height: 200px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Add a card effect for right column articles */
.rcard {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}