<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Les mots et l'émoi</title>
</head>
<body style="background-image:url({% static 'books/images/library.jpg' %});">

<div class="header">
<ul>
  <li><a href="{% url 'books:index' %}">Blog</a></li>
  <li><a href="{% url 'books:index' %}">À Propos</a></li>
  <li><a href="{% url 'books:index' %}">Coups de coeur</a></li>
  <li><a href="{% url 'books:index' %}">Contact</a></li>
</ul>
</div>

{% block content_core %}{% endblock %}

<div class="footer">
    <h2> Footer.</h2>
</div>

</bodyi>
</html>