<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Les mots et l'émoi</title>
</head>
<body style="background-image:url({% static 'books/images/library.jpg' %});">

<div class="header">
    <h2>LES MOTS ET L`ÉMOI</h2>
    <h3>===== Blog littéraire =====</h3>
    <h4>Béatrice Arvet</h4>
</div>

{% block content_core %}{% endblock %}

<div class="footer">
    <h2> Footer.</h2>
</div>

</bodyi>
</html>